/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.banner{
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week2/banner.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 958px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
}

.bannerSubtitle{
    font: italic normal bold 24px/42px Roboto;
    color: #ffffff;
}

.bannerTitle{
    font:italic normal 900 80px/94px Roboto;
    color: #ffffff;
}

.bannerText{
    font: italic normal bold 24px/36px Roboto;
    color: #ffffff;
    padding-bottom: 48px;
}

.icons{
    display: flex;    
}

.icons li{
    width: 80px;
}

.content{
   text-align: center;
}

.content img{
    margin-bottom: 24px;
}

.title{
    font-size: 64px;
    line-height: 75px;
    font-family: italic normal medium Roboto;
    margin-bottom: 40px;
}

.content li{
    font: italic normal bold 24px/36px Roboto;
    text-align: center;
}

.content li p{
    padding-bottom: 24px;
}

.profile{
    border-bottom: 1px solid #000000;
    margin-bottom: 32px;
}

.exprience{
    margin-bottom: 56px;
}

.exprience li{
    font: italic normal bold 24px/42px Roboto;
}

.brand{
    background: #000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.brandTitle{
    font-size: 64px;
    line-height: 75px;
    font-family: italic normal medium Roboto;
    padding-top: 64px;
    padding-bottom: 16px;
}

.brandSubTitle{
    font: italic normal medium 24px/42px Roboto;
    padding-bottom: 32px;
}

.brandDescript{
    font: italic normal medium 20px/30px Roboto;
    padding-bottom: 68px;
}
 .brand img{
     padding-bottom: 40px; 
 }
 .brandimg{
     padding-bottom: 120px;
 }
 .brandimg img{
     padding-right: 24px;
 }

.works{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;
}

 .worksTitle{
    font-size: 64px;
    line-height: 75px;
    font-family: italic normal medium Roboto;
    padding-bottom: 24px;
 }

 .worksDescript{
    font-size: 20px;
    line-height: 30px;
    font-family: italic normal medium Roboto;
    padding-bottom: 56px;
 }

.item{
    padding-right: 24px;
}

 .item p{
    font-size: 20px;
    line-height: 42px;
    font-family: italic normal medium Roboto;
    text-align: center;
 }

 .worksimages-row1,
 .worksimages-row2,
 .worksimages-row3{
     display: flex;
     justify-content: center;
     margin-bottom: 56px;
 }

.footer{
    background: #000000;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

 .contact{
    font-size: 64px;
    line-height: 75px;
    font-family: italic normal medium Roboto;
    color: #ffffff;
    padding-bottom: 16px;
 }

 .footer a{
    font-size: 24px;
    line-height: 36px;
    font-family: italic normal medium Roboto;
    text-decoration: none;
    color: #ffffff;
 }

